@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paul Sokk</h1>
    <p class="lead">Test-task "Amazon search"</p>
    
</div>
<div class="row">
    <div class="col-md-10">
        <h2 style="font-weight:bold">Used technologies:</h2>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET (MVC)</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nager Amazon Product Advertising</h2>
        <p>Amazon Product Advertising API, Supports ItemSeach with ASIN, EAN, UPC and ISBN, ItemLookup and BrowseNodeLookup.</p>
        <p><a class="btn btn-default" href="https://www.nuget.org/packages/Nager.AmazonProductAdvertising/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Exchange Rates API</h2>
        <p>Open Exchange Rates provides a simple, lightweight and portable JSON API with live and historical foreign exchange (forex) rates.</p>
        <p><a class="btn btn-default" href="https://openexchangerates.org/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>